<div class="nav-container">
  <div class="navbar d-flex">
    <div class="logo justify-content-start">rollerbnb🎢</div>
    <div class="links">
      <ul class="m-0">
        <li>My bookings</li>
        <li>My rollercoasters</li>
      </ul>
    </div>
  </div>
</div>
