<div class="nav-container">
  <div class="navbar d-flex">
    <div class="logo justify-content-start">rollerbnb🎢</div>
    <div class="links">
      <ul class="m-0">
        <li>My bookings</li>
        <% if user_signed_in? %>
          <li><%= link_to "My Rollercoasters", user_path(current_user) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
