<h2>Book your adventure</h2>
<%= simple_form_for [@rollercoaster, @booking] do |f| %>
  <%= f.input :date_begin, label: "Start of the booking", as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :date_end, label: "End of the booking", as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
