
<h1>Rollercoasters</h1>

<% @rollercoasters.each do |rollercoaster| %>
  <%= rollercoaster.name %>
  <%= rollercoaster.location %>
  <%= rollercoaster.price %>
  <%= rollercoaster.description %>
<% end %>
