<body>
  <% render '/rollercoasters/index.html.erb' %>
  <div class="d-flex justify-content-center align-items-center my-5">
      <div class="btn btn-primary align-items-center">
        Load more rides
      </div>
    </div>
</body>
</body>
