<body>
  <div class="container">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    <div>
      <div class="cards d-flex">
        <div clas="filter_card">
        </div>
      </div>
    </div>
    <div>
      <div class="cards">
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1516051662687-567d7c4e8f6a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3775&q=80" alt="Card image cap">
            <div class="card_description">
              <h3>We all scream for icecream</h3>
              <p>Get a tasty icecream after the ride</p>
            </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1564661808951-e20e07589324?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3570&q=80" alt="Card image cap">
              <div class="card_description">
                <h3>Russian roulette</h3>
                <p>Who's going to survive this ride?</p>
              </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1542577731-55541be363d4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Card image cap">
              <div class="card_description">
                <h3>Nice and easy</h3>
                <p>A family-friendly ride</p>
              </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1465779171454-aa85ccf23be6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3548&q=80" alt="Card image cap">
              <div class="card_description">
                <h3>Halloween street</h3>
                <p>Trick or ride</p>
              </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1500569051175-dc066c45410d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3570&q=80" alt="Card image cap">
              <div class="card_description">
                <h3>Fasten your seatbelts</h3>
                <p>The bumpiest flight of your life</p>
              </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1496317556649-f930d733eea3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3570&q=80" alt="Card image cap">
              <div class="card_description">
                <h3>Smile!</h3>
                <p>The ride that takes photos at every turn</p>
              </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1516051662687-567d7c4e8f6a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3775&q=80" alt="Card image cap">
            <div class="card_description">
              <h3>We all scream for icecream</h3>
              <p>Get a tasty icecream after the ride</p>
            </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1564661808951-e20e07589324?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3570&q=80" alt="Card image cap">
              <div class="card_description">
                <h3>Russian roulette</h3>
                <p>Who's going to survive this ride?</p>
              </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1542577731-55541be363d4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Card image cap">
              <div class="card_description">
                <h3>Nice and easy</h3>
                <p>A family-friendly ride</p>
              </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1465779171454-aa85ccf23be6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3548&q=80" alt="Card image cap">
              <div class="card_description">
                <h3>Halloween street</h3>
                <p>Trick or ride</p>
              </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1500569051175-dc066c45410d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3570&q=80" alt="Card image cap">
              <div class="card_description">
                <h3>Fasten your seatbelts</h3>
                <p>The bumpiest flight of your life</p>
              </div>
          </div>
          <div class="card_category">
            <img src="https://images.unsplash.com/photo-1496317556649-f930d733eea3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3570&q=80" alt="Card image cap">
              <div class="card_description">
                <h3>Smile!</h3>
                <p>The ride that takes photos at every turn</p>
              </div>
          </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center my-5">
      <div class="btn btn-primary align-items-center">
        Load more rides
      </div>
    </div>
</body>
