<body>
  <div class="navbar d-flex">
    <h1>Logo</h1>
  </div>
  <div class="container">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    <div>
      <div class="cards d-flex">
        <div clas="filter_card">
        </div>
      </div>
    </div>
    <div>
      <div class="cards d-flex">
          <div class="card-category">
            <h3>We all scream for icecream</h3>
            <p>Get a tasty icecream after the ride</p>
            <img >
          </div>
          <div class="card-category">
            <h3>Russian roulette</h3>
            <p>Who's going to survive this ride?</p>
          </div>
          <div class="card-category">
            <h3>Nice and easy</h3>
            <p>A family-friendly ride</p>
          </div>
          <div class="card-category">
            <h3>Halloween street</h3>
            <p>Trick or ride</p>
          </div>
          <div class="card-category">
            <h3>Fasten your seatbelts</h3>
            <p>The bumpiest flight of your life</p>
          </div>
          <div class="card-category">
            <h3>Smile!</h3>
            <p>The ride that takes photos at every turn</p>
          </div>
        </ul>
      </div>
    </div>
  </div>
</body>
