<body>
  <div class="container">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    <div>
      <div class="cards d-flex">
        <div clas="filter_card">
        </div>
      </div>
    </div>
    <div>
      <div class="cards d-flex">
          <div class="card-category">
            <h3>Name of home 2</h3>
            <p>Description</p>
          </div>
          <div class="card-category">
            <h3>Name of home 2</h3>
            <p>Description</p>
          </div>
          <div class="card-category">
            <h3>Name of home 2</h3>
            <p>Description</p>
          </div>
          <div class="card-category">
            <h3>Name of home 2</h3>
            <p>Description</p>
          </div>
          <div class="card-category">
            <h3>Name of home 2</h3>
            <p>Description</p>
          </div>
          <div class="card-category">
            <h3>Name of home 2</h3>
            <p>Description</p>
          </div>
        </ul>
      </div>
    </div>
  </div>
</body>
