.nav-container {
  height:80px;
  border-bottom: 1px solid rgb(210, 210, 210);
  position: sticky;
  top: 0;
  // overflow: hidden;
  width: 100%;
  background-color: white;
  // margin-bottom: 15px;
  z-index: 1;

}

.navbar {
  width: 80%;
  margin: auto;
}

// .navbar .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar .navbar-brand img {
//   width: 40px;
// }

.navbar .logo {
  vertical-align: middle;
  font-size: 35px;
  font-weight: bolder;
  position: sticky;
}

// .navbar li {
//   list-style: none;
//   display: inline-block;
//   vertical-align: middle;
//   padding: 15px;
// }

// .navbar .links {
//   vertical-align: middle;
// }

.navbar a {
  text-decoration: none;
  color: black;
  &:hover{
    color:rgb(30, 178, 163);
  };
}

.navbar .btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  cursor: pointer;
  // border: 1px solid rgb(210, 210, 210);
  border: none;
  border-radius: 30%;
  position: relative;
  margin: auto;
  height: 50px;
  width: 50px;
}

.dropdown {
  position: relative;
  width: 250px;
  background: white;
}

.dropdown li {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
  z-index: 999;
  background-color: white;
}

.navbar img {
  height: 30px ;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar ul {
  padding-left: 40px;
}

.navbar em {
  align-items: start;
  color:rgb(30, 178, 163);
  font-size: 10px;
}
